/*universal applies to whole page where not defined*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*general background-color unless defined in other sections*/
body {
    background-color: #d9dcd6;
}
/*the title*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    width: 100%;
}
/*how the title presents*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}
.seo {
    color: #d9dcd6;
}
/*the 3 links are listed here to reference lower in page*/
nav {
    display: flex;
    float: right;
    margin-left: 25px;
    justify-content: space-between;
}
/*defines properties of the links*/
a {
    color: none;
    text-decoration: none;
    font-size: 18px;
}

p {
    font-size: 16px;
}
/*sets the background photo for the website*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/*defines the SEO and Social media marketing img positioning*/
.float-left {
    float: left;
    margin-right: 25px;
}
/*defines the online reputation management img positioning*/
.float-right {
    float: right;
    margin-left: 25px;
}
/*defines how the image and paragraph will display in the column*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
    line-height: 1.5;
}
/*settings for the search-engine-optimization class*/
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*settings for the online-reputation-management class*/
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*settings for the social-media-marketing class*/
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*all sections of the benefits will have the same formatting unless listed specifically*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    margin-bottom: 32px;
    color: #ffffff;
    line-height: 1.5;
}
/*all benefit titles will appear the same*/
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*all benefits' section img element will display the same*/
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*sets the spacing below the paragraph so that there is ample spacing for benefit-brand*/
.benefit-lead {
    margin-bottom: 20px;
}
/*sets the spacing below the paragraph so that there is ample spacing for benefit-cost*/
.benefit-brand {
    margin-bottom: 20px;
}
.benefit-cost {
    margin-bottom: 20px;
}
/*all headers for the content section (L side column) will present the same*/
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*all the content section img's will have a the same max height*/
.content img {
    max-height: 200px;
}

footer {
    background-color: #d9dcd6;
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
